@import "bourbon/bourbon";

.masthead {
	position: relative;
	height: 600px;

	.header {
		padding-top: 20px;
		.logo {
			height: 100px;
			width: 100px;
			background: white;
			display: block;
		}
	}

	img {
		width: 100%;
		height: 600px;
		position:absolute;
		z-index: 1;
	}
}

.header {
	position: relative;
	z-index: 2;
	nav {
		li {
			float: left;
			a {
				background: rgba(0,0,0,0.2);
				display: block;
				color: white;
				padding: 20px;
				margin-left: 10px;
				text-decoration: none;
			}
		}
	}
}

.content {
	background: url("../img/background.png") repeat;
	@include box-shadow(0 0 5px rgba(0,0,0,0.1));
	.outer-wrapper {
		position: relative;
		top: -140px;
		z-index: 2;
		.inner-wrapper {
			@include box-shadow(0 0 5px rgba(0,0,0,0.1));
			@include clearfix();
			padding: 30px 0;
			background: white;
		}
		.row {
		}
	}
}

.date-time {
	font-size: 1em;
	margin: 15px 0;
}

.content-context {
	font-size: 1em;
	margin-top: 8px;
}

// typography

* {
	font-family: "Signika", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-weight: 400;
	margin-bottom: 15px;
}

p {
	margin-bottom: 15px;
}

h1 { font-size: 3em; }
h2 { font-size: 3em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.1em; }
